.top-buffer { margin-top:20px; }

body {
    background-color: #d8d9e0;
    font-size: 18em;
    font-family: 'Raleway', sans-serif;
}

#header {
    position: absolute;
    width: 100%;
    margin: 0 auto;
}

.search-for {
    color: #5b1746;
    margin-left: 0;
}

.search {
    z-index: 2;
    font-size: 0.15em;
    position: relative;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

form {
    margin-top: 30px;
    margin-bottom: 30px;
}

form .btn {
    background-color: #c91746;
    color: white;
}

.connection-member {
    text-align: center;
}
.connection-member img {
    max-width: 55%;
    margin: 0 auto;
}

.connection {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.connection p {
    font-size: 0.5em;
    line-height: 180px;
}
.interests {
    color: #5b1746;
    font-size: 30px;
    margin-left: 0;
}